.AboutContainer {

}

.AboutMainSection {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin: 2em;
}

.AboutImage {
  margin: 1em;
  flex-wrap: wrap;
}

.AboutText {
  margin: 1em;
  flex-wrap: wrap;
}
