
.HomepageContainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.ProductsContainer {
  /*flex: 3 0 auto;*/
  width: 75%;
}

.ShoppingListContainer {
  /*flex: 1 0 auto;*/
  width: 25%;
}
