.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 30s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 6em;
  padding: 1em;
  color: white;
}

.App-Header a, .HeaderLink {
  color: white;
  font-weight: 900;
  font-size: 1.2rem;
}

.App-title {
  font-size: 1.5em;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1, h2, h3, h4, h5 {
  color: #333
}
